<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador CardioHome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_dashboard.css') }}">
</head>
<body>

<div class="admin-layout">
    <aside class="sidebar">
        <img src="{{ url_for('static', filename='img/cardiohome_logo.png') }}" alt="Logo CardioHome" class="logo-sidebar">
        <h2>CardioHome</h2>
        <nav>
            <ul>
                <li><a href="{{ url_for('admin_dashboard') }}">Inicio</a></li>
                <li><a href="{{ url_for('ver_proyecto', nombre_proyecto='SANTIAGO') }}">Proyectos</a></li>
                <li><a href="{{ url_for('admin_planillas') }}">Subir Planilla</a></li>
                <li><a href="{{ url_for('firmar_pdf') }}">Firmar PDF</a></li>
               </li> <a href="{{ url_for('derivaciones') }}">Derivaciones por colegio</a><li>
                <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </aside>    

    <main class="content">
        <h1>Bienvenido Administrador</h1>
        <p>Selecciona una opción del menú para gestionar CardioHome.</p>
    </main>
</div>

</body>
</html>

